@media (max-width: 700px) {
    .container{
        width: 650px;
    }
    .row{
        display: flex;
        margin-left: 0;
        margin-right: 40px;
    }
    .footer-box{
        margin: 50px 0;
    }
    .footer-box-card{
        width: 20%;
    }
}
@media (max-width: 500px) {
    .container{
        width: 400px;
    }
    .header-top ul{
        text-align: center;
column-gap: 10px;
    }
    .sec-3 img{
        width: 50%;
    }
    .sec-6 img{
        width: 50%;
    }
    .footer-box{
        column-gap: 5px;
    }
}